div{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 143, 102);
}
.userInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
  padding: 1%;
  /* box-shadow: rgb(63, 63, 63) 20px 20px 5px; */
}
.result{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  height: 20%;
  width: 50%;
}
input{
  border: solid green 1px;
}
section{
  border-radius: 5%;
  background-color: cornsilk;
   transition: 0s box-shadow;
}
section:hover{
  box-shadow: rgb(63, 63, 63) 10px 10px 10px;
  transition-duration: .5s;
  
}
h1{
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 150%;
}
h3{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#result{
   font-size: 165%;
}